/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
  line-height: 1.2em;
}

a:hover {
  color: #FEA920;
}

#email a:hover {
  background-color: black;
  border: 1px solid black;
}

h2 {
  font-size: 1.5em;
}

/* Fonts */

.arimo {
  font-family: 'Arimo', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.cursive {
  font-family: 'Miniver', cursive;
}

/* Header */

header {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 10;
  justify-content: space-evenly;
  align-items: end;
  background-color: #FFFFFF;
}

#logo1 {
  min-width: 180px;
  position: relative;
  top: 15px;
}

#logo1 img {
  height: 60px;
  width: auto;
}

#logo2 {
  display: none;
}

#logo2 img {
  height: 140px;
  width: auto;
}

#title {
  min-width: 610px;
  font-size: 1.5em;
  position: relative;
  top: -2px;
}

nav {
  min-width: 430px;
  position: relative;
  top: -7px;
}

ul {
  margin: 5px;
}

li {
  display: inline;
  margin: 10px;
}

main {
  position: relative;
  z-index: 0;
  top: 90px;
}


/* Mission section */

#mission {
  padding-top: 90px;
  display: flex;
  height: 938px;
  background-image: url(../images/banner2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

#mission h2 {
  width: 100%;
  position: relative;
  top: 200px;
  display: block;
  line-height: 1.4em;
  background-color: #2E2E2E;
  color: #FEA920;
}

/* Products section */

#products {
  padding-top: 90px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

#products h2 {
  display: block;
  width: 100%;
  margin: 20px;
  font-size: 2em;
}

.photo {
  margin: 5px;
  border: 1px solid #654002;
}

#products .photo:hover {
  opacity: 0.6;
}

.tall-product img {
  width: 320px;
  height: 480px;
}

.short-product img {
  width: 652px;
  height: 427px;
}

.photo figcaption {
  font-size: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  width: 320px;
  padding: 5px;
  margin: auto;
}

/* About Us section */

#about-us {
  background-color: #FEA920;
  padding-top: 90px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

#about-us h2 {
  display: block;
  width: 100%;
  margin: 20px;
  font-size: 2em;
}

#about-us .photo {
  background-color: #FFFFFF;
}

.short-person img {
  width: 652px;
  height: 427px;
}

.tall-person img {
  width: 652px;
  height: 960px;
}

.large-person img {
  width: 652px;
  height: auto;
}

/* Contact us section */

#contact-us {
  height: 300px;
  background-color: #808080;
  padding-top: 40px;
}

#contact-us h2 {
  margin-bottom: 30px;
  font-size: 2em;
}

#contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

#address {
  height: 140px;
  border-left: 3px double #654002;
  border-right: 3px double #654002;
  padding: 5px;
  background-color: #FEA920;
  margin-top: 10px;
}

#address p {
  text-align: left;
  font-size: 1.2em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  padding: 3px 0;
}

#address-logo img {
  height: 140px;
}


/* Media queries */

@media only screen and ( max-width: 1220px ) {
  header {
    height: 100px;
    justify-content: center;
    z-index: 10;
  }

  #logo1 {
    position: static;
  }

  #title {
    position: static;
  }

  nav {
    min-width: 800px;
  }

  li {
    margin: auto 30px;
  }

  main {
    position: relative;
    z-index: 0;
    top: 100px;
  }

  #products, #mission, #about-us {
    padding-top: 100px;
  }
}

@media only screen and ( max-width: 800px) {
  #title, #logo1 {
    display: none;
  }

  #logo2 {
    display: inline-block;
  }

  header {
    height: 150px;
    justify-content: space-evenly;
    z-index: 10;
  }

  nav {
    min-width: 150px;
    position: relative;
    left: 50px;
    top: 0;
  }

  li {
    margin: 5px;
    display: block;
    text-align: right;
    font-size: 1.25em;
  }

  main {
    position: relative;
    z-index: 0;
    top: 150px;
  }

  #products, #mission, #about-us {
    padding-top: 150px;
  }

  .short-person img {
    width: 320px;
    height: auto;
  }
  
  .tall-person img {
    width: 320px;
    height: auto;
  }
  
  .large-person img {
    width: 320px;
    height: auto;
  }
}

@media only screen and ( max-width: 600px) {
  #title, #logo1 {
    display: none;
  }

  #logo2 {
    display: inline-block;
  }

  header {
    height: 200px;
    justify-content: space-evenly;
    z-index: 10;
  }

  nav {
    min-width: 370px;
    position: static;
    padding: 10px;
  }

  li {
    margin: 5px;
    display: inline;
    font-size: 0.9em;
  }

  main {
    position: relative;
    z-index: 0;
    top: 200px;
  }

  #mission h2 {
    position: relative;
    top: 100px;
  }

  .short-product img {
    max-width: 320px;
    height: auto;
  }

  #products, #mission, #about-us, #contact-us {
    padding-top: 200px;
  }

  .short-person img {
    width: 320px;
    height: auto;
  }
  
  .tall-person img {
    width: 320px;
    height: auto;
  }
  
  .large-person img {
    width: 320px;
    height: auto;
  }

  #contact-us {
    height: 600px;
  }
}